# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Tests
test
*.spec.ts
coverage

# Misc
README.md
*.log
.DS_Store
