-- Run this SQL to add missing columns to existing database (without losing data)
ALTER TABLE orders ADD COLUMN IF NOT EXISTS subtotal NUMERIC(10, 2) NOT NULL DEFAULT 0;
ALTER TABLE orders ADD COLUMN IF NOT EXISTS delivery_fee NUMERIC(10, 2) NOT NULL DEFAULT 0;
ALTER TABLE orders ADD COLUMN IF NOT EXISTS tax NUMERIC(10, 2) NOT NULL DEFAULT 0;
ALTER TABLE orders ADD COLUMN IF NOT EXISTS discount_amount NUMERIC(10, 2) NOT NULL DEFAULT 0;

-- Update existing orders with calculated values (for backward compatibility)
UPDATE orders SET 
  delivery_fee = 50,
  subtotal = (total_amount - 50) / 1.12,
  tax = ((total_amount - 50) / 1.12) * 0.12
WHERE subtotal = 0 OR subtotal IS NULL;
